footer {
	  padding: 20px 0;
	  border-top: 2px solid black;
	background-color: whitesmoke;
}

footer ul {
	  padding: 0;
	  list-style: none;
	  text-align: center;
	  font-size: 18px;
	  line-height: 1.6;
	  margin-bottom: 0;
}

footer li {
  	padding: 0 10px;
}

footer ul a {
	  color: inherit;
	  text-decoration: none;
}

footer .copyright {
	  margin-top: 15px;
	  text-align: center;
	  font-size: 13px;
	  margin-bottom: 0;
}

